.divForm {
    width: 20%; /* אורך הדיב יתאים לתוכן */
    margin: 0 auto;
    text-align: center;
    box-shadow: rgba(146, 42, 42, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
.custom-textfield {
  margin: 10;
  }